
@{
    ViewBag.Title = "Index";
}
<h1>jello</h1>
<h2>Index</h2>
<p>
    你好<br />
    嗨
    <u>alice</u>
</p>
<u>alice</u>
<form>
    帳號:<input type="text"  name="fname1" value=""><br>
    密碼:<input type="password"  name="fname2" value=""><br>
    年齡:<input type="number"  name="fname3" value=""><br>
</form>

